.App {
  text-align: center;
}

.container .my .card{
  width: 18rem;
}

@media screen and (max-width: 768px){
  .card{
    width: 23rem;
  }
  .card-text{
    height: 90px;
  }
  .card-title{
    height: 40px;
  }
  
  .cardimg{
    height: 190px;
  }
  
}

/* @media screen and (max-width: 968px){
  .card{
    width: 23rem;
  }
  .card-text{
    height: 90px;
  }
  .card-title{
    height: 40px;
    font-size: 14px;
  }
  
  .cardimg{
    height: 190px;
  }
  
} */



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.card-text{
  height: 90px;
}
.card-title{
  height: 80px;
}

.cardimg{
  height: 190px;
}
